:root {
    --main-color: #24434F;
    --second-color: #F3B600;
    --layout-color: rgba(0, 0, 0, 0.7);
}

body {
    font-family: Poppins, sans-serif;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Dancing Script, cursive;
}

/* *custom scrollbar */
html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027)
}

html::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 15px;
}




.up_layer {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.title {
    color: var(--bs-white);
}

.title h4 {
    color: var(--second-color);
}

.title h2 {
    font-size: 40px;
    font-family: Poppins, sans-serif;
}

.title .design::before,
.title .design::after{
    content: "";
    display: block;
    width: 5%;
    height: 2px;
    background-color: #fff;
}


/* *global anchor */
a.anchor {
    text-decoration: none;
    width: fit-content;
    border: 2px solid var(--second-color);
    padding: 7px 24px;
    letter-spacing: 1.5px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
}

a.anchor::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--second-color);
    transition-duration: 1s;    
}

a.anchor:hover:before {
    left: 0;
}

a.anchor span.up_layer {
    color: var(--second-color);
    transition-duration: 1s;
    position: relative;
    z-index: 2;
}

a.anchor:hover span.up_layer {
    color: #fff;
}

p sup {
    color: var(--second-color);
}